<!DOCTYPE html>
<!-- CSP support mode (required for Windows Universal apps): https://docs.angularjs.org/api/ng/directive/ngCsp -->
<html lang="en" ng-app="myApp" ng-csp>
<head>
    <meta charset="utf-8" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />

    <!-- JS dependencies (order matters!) -->
    <script src="scripts/platformOverrides.js"></script>
    <script src="lib/angular/angular.js"></script>
    <script src="lib/onsen/js/onsenui.js"></script>
    <script src="js/myController.js"></script>

    <!-- CSS dependencies -->
    <link rel="stylesheet" href="lib/onsen/css/onsenui.css" />
    <link rel="stylesheet" href="lib/onsen/css/onsen-css-components-blue-basic-theme.css" />
    <link rel="stylesheet" href="css/style.css" />

    <!-- CSP support mode (required for Windows Universal apps) -->
    <link rel="stylesheet" href="lib/angular/angular-csp.css" />


    <!-- --------------- App init --------------- -->

    <title>+Donantes -Limitaciones</title>
</head>

<body ng-controller="myController as ctrl">
    <!-- HOME LOGIN NAVIGATOR -->
<ons-navigator title="Navigator" var="myNavigator">
    <ons-page>
        <ons-toolbar>
        <div class="center">Inicio de sesión</div>
        <div class="right">
            <ons-toolbar-button>Cerrar</ons-toolbar-button>
        </div>
    </ons-toolbar>

    <div class="login-form">
        <input type="text" ng-model="ctrl.usuario" class="text-input--underbar" placeholder="Usuario" value="">
        <input type="password" ng-model="ctrl.password" class="text-input--underbar" placeholder="Contraseña" value="">
        <br>
        <br>
        <ons-button modifier="large" class="login-button" ng-click="ctrl.iniciarSesion()">Iniciar sesión</ons-button>
        <br>
        <ons-button modifier="large--cta" class="login-button" ng-click="myNavigator.pushPage('registro-donante.html', { animation : 'slide' } );">Registrarse</ons-button>
        <br>
        <ons-button modifier="quiet" class="forgot-password" ng-click="ctrl.quienesSomos()">¿ Quienes somos ?</ons-button>
    </div>
    </ons-page>
</ons-navigator>

<!-- VENTANA ADMIN -->
<ons-template id="menu-admin.html">
    <ons-page>
    <ons-toolbar>
    <div class="left">
        <ons-back-button>Atrás</ons-back-button>
    </div>
    <div class="center">
        Administrador
    </div>
    <div class="right">
        <ons-toolbar-button>Cerrar</ons-toolbar-button>
    </div>
    </ons-toolbar>

    <div class="login-form">
        <div class="settings-header">Opciones</div>
        <br>

        <ons-button modifier="large" class="login-button" ng-click="myNavigator.pushPage('registro-beneficiario.html', { animation : 'slide' } );">Registrar Usuario</ons-button>
        <br>
        <ons-button modifier="large--cta" class="login-button" ng-click="myNavigator.pushPage('donaciones-fundacion.html', { animation : 'slide' } );">Donaciones realizadas a la fundación</ons-button>
        <br>
        <ons-button modifier="large" class="login-button" ng-click="myNavigator.pushPage('usuarios-con-donaciones.html', { animation : 'slide' } );">Donaciones realizadas a los usuarios</ons-button>
        <br>
        <ons-button modifier="large--cta" class="login-button" ng-click="">Seguimiento</ons-button>
        <br>
        <ons-button modifier="large" class="login-button" ng-click="">Observaciones</ons-button>
        <br>
    </div>
    </ons-page>
</ons-template>

<!-- VENTANA DONANTE -->
<ons-template id="menu-donante.html">
    <ons-page>
    <ons-toolbar>
    <div class="left">
        <ons-back-button>Atrás</ons-back-button>
    </div>
    <div class="center">
        Donante
    </div>
    <div class="right">
        <ons-toolbar-button>Cerrar</ons-toolbar-button>
    </div>
    </ons-toolbar>

    <div class="login-form">
        <div class="settings-header">Opciones</div>
        <br>

        <ons-button modifier="large" class="login-button" ng-click="myNavigator.pushPage('realizar-donacion.html', { animation : 'slide' } );">Realizar una donación a la fundación</ons-button>
        <br>
        <ons-button modifier="large--cta" class="login-button" ng-click="myNavigator.pushPage('realizar-donacion-usuario.html', { animation : 'slide' } );">Realizar una donación a un usuario</ons-button>
    </div>
    </ons-page>
</ons-template>

<!-- QUIENES SOMOS -->
<ons-template id="quienes-somos.html">
    <ons-page>
    <ons-toolbar>
    <div class="left">
        <ons-back-button>Atrás</ons-back-button>
    </div>
    <div class="center">
     ¿ Quienes somos ?
    </div>
    <div class="right">
        <ons-toolbar-button>Cerrar</ons-toolbar-button>
    </div>
    </ons-toolbar>

    <div class="login-form">
        <h2>¿ Quienes somos ?</h2>
        <p style="text-align: justify;">
            Nosotros, la fundacion "Un abrazo por los discapacitados" somos una entidad sin animo de lucro que trabajamos por el bienestar de las personas discapacitadas de la ciudad de armenia.
            La fundacion "Un abrazo por los discapacitados" se encarga de los procesos de donacion de herramientas fisicas, para las personas discapacitadas de escasos recursos.
        </p>
        <h2>¿ Como donar ?</h2>
        <p style="text-align: justify;">
            La persona que quiera donar una herramienta (Silla de ruedas, muletas, caminadores, cuellos ortopedicos, protesis, cargadores, etc) para una persona discapacitada tiene que registrarse en la aplicacion +Donantes -Limitaciones a traves de un Usuario y Contraseña.

            En la aplicacion +Donantes -Limitaciones se tienen dos opciones para donar.

                1-Las herramientas se pueden donar directamente a una persona que los necesite, la lista de personas en espera de "Donantes" que requieren de estas herramientas se pueden observar al momento de iniciar sesion.

                2- Las herramientas tambien se pueden donar directamente a la fundacion "Un abrazo por los discapacitados" y ya la fundacion se encarga de donarla a una persona que ellos consideren que la necesita.
        </p>
    </div>
    </ons-page>
</ons-template>

<!-- REGISTRAR DONANTE -->
<ons-template id="registro-donante.html">
    <ons-page>
    <ons-toolbar>
    <div class="left">
        <ons-back-button>Atrás</ons-back-button>
    </div>
    <div class="center">
        Registrar Donante
    </div>
    <div class="right">
        <ons-toolbar-button>Cerrar</ons-toolbar-button>
    </div>
    </ons-toolbar>

    <div class="login-form">
        <input type="text" ng-model="ctrl.r_nombres" class="text-input--underbar" placeholder="Nombre" value="">
        <input type="text" ng-model="ctrl.r_apellidos" class="text-input--underbar" placeholder="Apellidos" value="">
        <input type="text" ng-model="ctrl.r_documento" class="text-input--underbar" placeholder="Documento" value="">
        <input type="text" ng-model="ctrl.r_implemento" class="text-input--underbar" placeholder="Implemento" value="">
        <input type="text" ng-model="ctrl.r_telefono" class="text-input--underbar" placeholder="Teléfono" value="">
        <input type="text" ng-model="ctrl.r_correo" class="text-input--underbar" placeholder="Correo" value="">
        <br>
        <label>F. Nacimiento: </label><input type="date" ng-model="ctrl.r_fecha_nacimiento"  placeholder="Fecha Nacimiento" value="">
        <br>
        <br>
        <ons-button modifier="large" class="login-button" ng-click="ctrl.agregarDonante()">Agregar</ons-button>
    </div>
    </ons-page>
</ons-template>

<!-- REGISTRO BENEFICIARIO -->
<ons-template id="registro-beneficiario.html">
    <ons-page>
    <ons-toolbar>
    <div class="left">
        <ons-back-button>Atrás</ons-back-button>
    </div>
    <div class="center">
        Registrar Beneficiario
    </div>
    <div class="right">
        <ons-toolbar-button>Cerrar</ons-toolbar-button>
    </div>
    </ons-toolbar>

    <div class="login-form">
        <input type="text" ng-model="ctrl.r_nombres" class="text-input--underbar" placeholder="Nombre" value="">
        <input type="text" ng-model="ctrl.r_apellidos" class="text-input--underbar" placeholder="Apellidos" value="">
        <input type="text" ng-model="ctrl.r_documento" class="text-input--underbar" placeholder="Documento" value="">
        <input type="text" ng-model="ctrl.r_implemento" class="text-input--underbar" placeholder="Implemento" value="">
        <input type="text" ng-model="ctrl.r_telefono" class="text-input--underbar" placeholder="Teléfono" value="">
        <input type="text" ng-model="ctrl.r_correo" class="text-input--underbar" placeholder="Correo" value="">
        <br>
        <br>
        <ons-button modifier="large" class="login-button" ng-click="ctrl.agregarBeneficiario()">Agregar</ons-button>
    </div>
    </ons-page>
</ons-template>

<!-- REALIZAR DONACIÓN - FUNDACION-->
<ons-template id="realizar-donacion.html">
    <ons-page>
    <ons-toolbar>
    <div class="left">
        <ons-back-button>Atrás</ons-back-button>
    </div>
    <div class="center">
        Donar a la fundación
    </div>
    <div class="right">
        <ons-toolbar-button>Cerrar</ons-toolbar-button>
    </div>
    </ons-toolbar>

    <div class="login-form">
        <textarea class="textarea" ng-model="ctrl.d_f_implemento" rows="3" placeholder="Implemento"></textarea>
        <br>
        <select ng-model="ctrl.d_f_estado">
          <option value="" disabled selected>- Seleccione estado -</option>
          <option value="Excelente">Excelente</option>
          <option value="Bueno">Bueno</option>
      </select>
      <br>
      <input type="number" ng-model="ctrl.d_f_cantidad" class="text-input--underbar" placeholder="Cantidad" value="">
      <br>
      <br>
      <ons-button modifier="large" class="login-button" ng-click="">Donar</ons-button>
    </div>
    </ons-page>
</ons-template>

<!-- REALIZAR DONACIÓN - USUARIO -->
<ons-template id="realizar-donacion-usuario.html">
    <ons-page>
    <ons-toolbar>
    <div class="left">
        <ons-back-button>Atrás</ons-back-button>
    </div>
    <div class="center">
        Donar a usuario
    </div>
    <div class="right">
        <ons-toolbar-button>Cerrar</ons-toolbar-button>
    </div>
    </ons-toolbar>

    <div class="login-form">
        <select>
          <option value="" disabled selected>- Seleccione Usuario -</option>
          <option value="Usuario 1">Usuario 1</option>
          <option value="Usuario 2">Usuario 2</option>
      </select>
      <br>
        <textarea class="textarea" ng-model="ctrl.implemento" rows="3" placeholder="Implemento"></textarea>
        <br>
        <select>
          <option value="" disabled selected>- Seleccione Estado -</option>
          <option value="Excelente">Excelente</option>
          <option value="Bueno">Bueno</option>
      </select>
      <br>
      <input type="number" ng-model="ctrl.cantidad" class="text-input--underbar" placeholder="Cantidad" value="">
      <br>
      <br>
      <ons-button modifier="large" class="login-button" ng-click="">Donar</ons-button>
    </div>
    </ons-page>
</ons-template>


</body>
</html>